[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Samuel Wong
	email = 35249407+desktopofsamuel@users.noreply.github.com
